a {
 
color:orange;
text-decoration: none;
 
}

a:hover {
 
color:black;
background-color: orange;
text-decoration: none;
padding:5px;
border-radius: 10px;
 
}

.trans:hover{
    text-decoration: none;
    padding:0px;
    border-radius: 0px;
    background-color: transparent;
}

.top5-trigger {
    color: black;
}
.top5-target tr:nth-child(n+6) {
    display: none;
}
.top5-target.top5-open tr:nth-child(n+6) {
    display: table-row;
}

.border7-trigger {
    color: black;
}
.border7-target tr:nth-child(n+8) {
    display: none;
}
.border7-target.border7-open tr:nth-child(n+8) {
    display: table-row;
}

.border8-trigger {
    color: black;
}
.border8-target tr:nth-child(n+9) {
    display: none;
}
.border8-target.border8-open tr:nth-child(n+9) {
    display: table-row;
}